.section {
    display: block;
    width: 100%;
    z-index: 10;
    text-align: center;
}

.hero-img-section {
    position: relative;
    text-align: center;
}

.hero-img {
    width: 100%;
}

.mw-820 {
    width: 820px;
}

.mw-540 {
    width: 540px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}